# Association Rules

#### Import libraries

In [1]:
import pandas as pd 
import numpy as np

### Read tha dataset

In [2]:
df = pd.read_csv("./Data/TV shows.csv", header = None )
df.describe

<bound method NDFrame.describe of                  0              1                   2                 3   \
0         Cobra Kai          Lupin          12 Monkeys          Sherlock
1              Lost      Jack Ryan           The Flash   Game of thrones
2     Sex Education      Dr. House             Kingdom  The Walking Dead
3             Ozark  Sex Education         Constantine          Preacher
4            Naruto            NaN                 NaN               NaN
...             ...            ...                 ...               ...
9685      One Piece  The Blacklist  Two and a half men             Lupin
9686      One Piece      Mr. Robot          Succession             Ozark
9687      Daredevil       Atypical               Heros               NaN
9688       Absentia   The Newsroom        The Alienist               NaN
9689       Atypical            NaN                 NaN               NaN

                  4                      5                    6       7   \
0                NaN                    NaN                  NaN     NaN
1     House of Cards             12 Monkeys              Vikings  Fringe
2                NaN                    NaN                  NaN     NaN
3            Vikings               The Tick                  NaN     NaN
4                NaN                    NaN                  NaN     NaN
...              ...                    ...                  ...     ...
9685            Dark  How I met your mother                  NaN     NaN
9686      12 Monkeys                Vikings  The Vampire Diaries     NaN
9687             NaN                    NaN                  NaN     NaN
9688             NaN                    NaN                  NaN     NaN
9689             NaN                    NaN                  NaN     NaN

                 8             9   ...   22   23   24   25   26   27   28  \
0               NaN           NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1     The Mentalist  The Alienist  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2               NaN           NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3               NaN           NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4               NaN           NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...             ...           ...  ...  ...  ...  ...  ...  ...  ...  ...
9685            NaN           NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9686            NaN           NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9687            NaN           NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9688            NaN           NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9689            NaN           NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN

       29   30   31
0     NaN  NaN  NaN
1     NaN  NaN  NaN
2     NaN  NaN  NaN
3     NaN  NaN  NaN
4     NaN  NaN  NaN
...   ...  ...  ...
9685  NaN  NaN  NaN
9686  NaN  NaN  NaN
9687  NaN  NaN  NaN
9688  NaN  NaN  NaN
9689  NaN  NaN  NaN

[9690 rows x 32 columns]>

In [3]:
df.isna().sum()

0        0
1     2133
2     3743
3     5023
4     6012
5     6853
6     7493
7     8026
8     8459
9     8803
10    9046
11    9226
12    9342
13    9418
14    9494
15    9549
16    9595
17    9624
18    9638
19    9652
20    9661
21    9672
22    9676
23    9682
24    9683
25    9683
26    9684
27    9685
28    9686
29    9689
30    9689
31    9689
dtype: int64

#### Handeling missing values

In [4]:
for col in df.columns:
    if (df[col].isna().sum() > (9690/1.4)):
        df = df.drop(col, axis=1)
df.isna().sum()

0       0
1    2133
2    3743
3    5023
4    6012
5    6853
dtype: int64

In [5]:
df

,0,1,2,3,4,5
0,Cobra Kai,Lupin,12 Monkeys,Sherlock,NaN,NaN
1,Lost,Jack Ryan,The Flash,Game of thrones,House of Cards,12 Monkeys
2,Sex Education,Dr. House,Kingdom,The Walking Dead,NaN,NaN
3,Ozark,Sex Education,Constantine,Preacher,Vikings,The Tick
4,Naruto,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
9685,One Piece,The Blacklist,Two and a half men,Lupin,Dark,How I met your mother
9686,One Piece,Mr. Robot,Succession,Ozark,12 Monkeys,Vikings
9687,Daredevil,Atypical,Heros,NaN,NaN,NaN
9688,Absentia,The Newsroom,The Alienist,NaN,NaN,NaN
9689,Atypical,NaN,NaN,NaN,NaN,NaN